<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <h1>Sign Up</h1>
    <div class="signupform">
        <form method="POST" action="/user">
            <label>Name</label>
            <input type="text" name="name" required>
            <label>Email</label>
            <input type="text" name="email" required>
            <label>Password</label>
            <input type="text" name="password" required>
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>